<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DataConnectionSection" type="GenesysInt.DataConnectionSection, GenesysCGABridge" />
    <section name="ProxySection" type="GenesysInt.ProxySection, GenesysCGABridge"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <DataConnectionSection>
    <DataEndpoints>
      <add name="UAT" address="RGt3ZStgd398ZG1IM1BMW0VcVVNdVFdSQy5LSURaRV9UQihQXV1gW1BWVUNdQ14wK1NcVlY+NzQvPjwzMzI3NDJDMi1bVV5XSUE3OjorMy1JUVBRTk9dX1JMYU0+L1xQXlxOUEtnWUxbT0JHTTUzVSwvN0lVeW12IXJqS1BcVVdFVkleRntvf3l8c39qQ0xYXWBKV01eRg==" key="0A34BD8AA18BBC782AC39B8466A5080C1500BECCD79690E73BD321641DC522921B95B6C3CE4212A562239C90EBDC179BC65D68BBEA53B42E36EE0684196E7E15484ABBEC654D663A9E998AB"/>
      <add name="Production" address="Rml+aSBgcnx3bmtFLktJXUhgU11gUFNXQCxLUkRgSl9WRzBWYFpiXVBUVkVaR1svK09cU1VBMUA2Ljg7MTg1PT0xLFtdXl5FMUFBNzU0K1FXUVhNRFlqUkphQ0ouVlBbY0xFUW1OSFNQQU1+ZXZ8entqYXJvNy4pR1p1Znwsa29LW01LXVlTWUZ0bH54fHhyZUZpbjXCgnNkfXc5fUBgP3JUSXk7" key="28A80D375B68674A5EADC74934AE0E5C3A86EBEED5A864B637D01409405A3476584BECA80BE7CB3E83A815BE9D2D63B9D32CE076B40548C8C62E8E50C521AC2BE48986E7B4BB559019100C0ED2E8D6AD2360"/>
      <add name="FRVLAN" address="Uml7bSVcdX16Z2w+M0ZGYExSUlBZVk9WRSpPREpXU19gRC5dU11fU0NbTUJYRlU3MFZbWGBAPTg5PDY3ODgzOzM/LCxbUV1eQTgzQEQyLCxPXVRUTEtiaU1FWkNHMFtNXGNJTEVfUUZPRz5KRDU2VDQ3LkVVfXB9KnBtQ1RXVFxMVFFhRHhlfn53cndrRVBTYllHWUhhQw==" key="E87C59688471B21D90905D0882E065ECD76D1EB40C15435E8EC5C3C17E42A6235A34B2BA4508B934CE6678EA9462A888AD0900352216245DBE5A0ABBA796B90AB6CD984BB0357875E76B3D8"/>
    </DataEndpoints>
  </DataConnectionSection>
  <ProxySection>
      <Proxy>
        <add name="Canal+ Group" domain="CPGRP" uri="http://bluecoatproxy.cpgrp.root.local:8080" user="srv-myanmar-cga" password="G%$%-Rf*YH\W+MqD" urisViaProxy="https://login.mypurecloud.jp,https://api.mypurecloud.jp"/>
      </Proxy>
    </ProxySection>
  <appSettings>
    <!-- Configurable Session -->
    <add key="ClientID" value="f0f6e546-9efc-49c9-b64a-2687c9df29de" />
    <add key="Secret" value="SgVkY49DBkGcwlSVzpDz8AOeXnAOehRj2D2Nff3d4ow" />
    <add key="AuthToken" value="LcfunKTgMla_BtiClSaA3XZWfbS6Hp4RXN1gN7G3lTDLnPXObBhMsCcreRu6Vy6NlbisSHISWYO8yN0ZJleOBw" />
    <add key="IncQRY" value="mm_aae_scoring_test" />
    <add key="ExcQRY" value="mm_aae_scoring_test" />
    <add key="ContactListID" value="72627d83-325e-425a-b34a-6f6d5434d51d" />
    <!-- General Configuration -->
    <add key="logging" value="1" />
    <add key="DebugLog" value="1" />
    <add key="logpath" value="d:\logs\mm_ex_inr_8mar.log" />
    <add key="accept" value="json" />
    <add key="AuthenHead" value="Basic " />
    <add key="AuthorHead" value="Bearer " />
    <add key="grant_type" value="client_credentials" />
    <add key="Environment" value="Production" />
    <add key="ApiProxyId" value="Canal+ Group"/>
    <add key="BehindProxy" value="no"/>
    <add key="NetCredAuthType" value="Basic"/>
    <add key="PDBKEY" value="UmfCgGQhU3x6eXBzSihRUV5NYE5WVEtVVEc1SUhPVEdgYEs1UFdaXlJDUkxLV1BRMTVUWGFhPTxDQDM6NDQ9NzxCKShQT15ZSjQ3ODsrLytPWlxTUkpXX1FDVUJLLFlQWF9SRkdrTklOS0hXwoRrbnl5cW1lamozNTA7V8KAcn0mcXBCZEdKV1NFXEF0Z356enF0a0V0eEN6dWN7woAtfjVjOmVUU3lG" />
    <add key="TDBKEY" value="UmfCgGQhU3x6eXBzSihRUV5NYE5WVEtVVEc1SUhPVEdgYEs1UFdaXlJDUkxLV1BRMTVUWGFhPTxDQDM6NDQ9NzxCKShQT15ZSjQ3ODsrLytPWlxTUkpXX1FDVUJLLFlQWF9SRkdrTklOS0hXwoRrbm1seDIvLz5ff2xyInZxSF1NTlpgR1o9cGF9eXt1fWtAT3sqdnktYD8=" />
    
    <add key="RSETORDER" value="mobile1,mobile2,work1,work2,home1,campaign,subs_id,contract_id,subs_name,smartcard,township,insert_date,exclusion_date,ending_date,package_type,timezone,score_non_reabo,c_attempt,call_date,ending_call_date,result1,result2,result3"/>
    <add key="ExclusionBehavior" value="Exclusion"/>
    <add key="CmdlineClearContactList" value="/clear-contactlist"/>
    
    <!-- Genesys static configuration -->
    <add key="defaultTZ" value="Indian/Cocos (+6:30)" />
    <!-- API UR Session -->
    <add key="MainURI" value="https://api.mypurecloud.jp" />
    <add key="AuthURI" value="https://login.mypurecloud.jp/oauth/token" />
    <add key="CreateContactList" value="https://api.mypurecloud.jp/api/v2/outbound/contactlists" />
    <add key="ListContactList" value="/api/v2/outbound/contactlists" />
    <add key="Me" value="/api/v2/tokens/me" />
    <add key="AddContact2List_1" value="/api/v2/outbound/contactlists/" />
    <add key="AddContact2List_2" value="/contacts" />
    <add key="UpdateContact_1" value="/api/v2/outbound/contactlists/" />
    <add key="UpdateContact_2" value="/contacts/" />
    <add key="CListPageNumber" value="?pageNumber=" />
    <add key="RetrieveContact_1" value="/api/v2/outbound/contactlists/" />
    <add key="RetrieveContact_2" value="/contacts/" />
    <add key="ClearContacts_1" value="/api/v2/outbound/contactlists/"/>
    <add key="ClearContacts_2" value="/clear"/>
    <add key="ListAgentAct" value="/api/v2/quality/agents/activity"/>
    <add key="ListEvalAct" value="/api/v2/quality/evaluators/activity"/>
    <add key="ListQueues" value="/api/v2/routing/queues"/>
    <add key="ListAgtCallHis" value="/api/v2/conversations/calls/history"/>
    <add key="ListQueueUsers_1" value="/api/v2/routing/queues/"/>
    <add key="ListQueueUsers_2" value="/users"/>
    <add key="QueueWaitTime_1" value="/api/v2/routing/queues/"/>
    <add key="QueueWaitTime_2" value="/mediatypes/all/estimatedwaittime"/>
    <!-- Genesys Apex Database Session -->
    <add key="QueueInsQry" value="INSERT INTO mm_apex_queue (id, name, dateModified, modifiedBy, memberCount) VALUES (:id, :name, :dateModified, :modifiedBy, :memberCount)"/>
    <!-- Deprecated -->
    <add key="UpdContactList" value="/api/v2/outbound/contactlists/" />
    <add key="DelContactList" value="/api/v2/outbound/contactlists/" />
    <!-- Json Exception for Genesys data types -->
    <add key="JsonDTresNFound" value="resource.not.found" />
    <add key ="JsonContactListNotFound" value="contact.list.not.found"/>
    <add key="ContactIDNotFound" value="not.found"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>